body{
	width:	600px;
	text-align: center;
/*	border: solid 1px red;	*/
}
#txtInfo{
/*		border:	solid 1px black;	*/
	
}

#personalNumber{
/*	border:	solid 1px black;	*/
}

#NationText{
/*	border: solid 1px black;	*/
}
#faceImage{
	width: 30mm;
	height: 40mm;
/*	border: solid 1px black;	*/
}
#tokugiInfo{
/*	border: solid 1px black;	*/
	background: lightgreen;
}
#personal{
/*	border: solid 1px red;	*/
	background: lightyellow;
	padding:	5px;
	margin: 	5px;
	width: 280px;
	height: 8ex;
	float: left;
	margin-bottom: 10px;
}

#Nation{
/*	border: solid 1px pink;		*/
	background: lightyellow;
	padding: 5px;
	margin: 5px;
	width: 280px;
	height: 8ex;
	float: right;
	
}
#picture{
	clear: both;
	width: 595px;
/*	border: solid 1px red;	*/
	background:	lightcyan;
	margin-top: 15px;
	margin-bottom: 10px;
}
#titleInfo{
	border-left: solid 20px red;
	border-bottom: solid 2px red;
	margin-bottom: 5px;
	color: red;
	font-size: 15pt;
	
}
#txtInfo{
	text-align: justify;
	border-bottom: 10px;
	margin-bottom: 10px;
	
}
#tokugiText{
	border-left: solid 20px red;
	border-bottom: solid 2px red;
	margin-bottom: 5px;
	color: red;
	font-size: 15pt;
	
}

#tokugiInfo{
	margin-bottom: 20px;

}
a{
	background: 	perple;
	width: 150px;
	margin-left: solid 5px red;
	margin-right: ;: solid 5px red;
}